/* responsive content width */

@media (min-width: 1200px) {
  nav,
  main,
  footer > div {
    max-width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  nav,
  main,
  footer > div {
    max-width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  nav,
  main,
  footer > div {
    max-width: 750px;
  }
}

/* content framing */

* {
  box-sizing: border-box;
  margin: 0; /* Make header and footer extend to window border */
}

body {
  background-color: #f2f2f2;
  font-family: sans-serif; /* No Times New Roman, please*/
}

nav,
main,
footer > div {
  margin-right: auto;
  margin-left: auto;
}

article {
  display: table; /* To include any bottom images */
  background-color: white;
  padding: 45px 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #dadada;
  border-top: none;
}

/* header */

header {
  background-color: #456a27;
}

nav {
  padding: 16px;
}

nav > a {
  /* Home link text */
  font-weight: 700;
  font-size: 20px;
  color: #f5f7fa;
  text-decoration: none;
  float: left;
}

nav > a > img {
  /* Home link logo */
  vertical-align: middle;
  height: 2em;
  margin-right: 1em;
}

nav ul {
  list-style: none; /* No bullets on menu items */
  margin: 0; /* No additional spacing */
  text-align: right; /* Keep the menu items to the right */
}

nav ul li {
  display: inline-block;
  padding: 0 10px; /* Keep some spacing between menu items */
  float: none; /* Keep the menu items on the same line */
}

nav ul li a {
  font-size: 16px;
  text-transform: uppercase;
  color: #f5f7fa;
  text-decoration: none;
  transition: all 0.3s;
  line-height: 40px;
}

nav ul li a:hover {
  color: #dadada;
}

nav ul li a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

nav ul li a img {
  vertical-align: middle;
}

header div.nav-border {
  height: 5px;
  background-color: darkgreen;
}

/* footer */

footer {
  background-color: #456a27;
  color: #f5f7fa;
}

footer > div {
  padding: 16px;
  overflow: hidden;
}

footer > div > div:nth-child(1) {
  float: left;
}

footer > div > div:nth-child(2) {
  float: right;
  text-align: right;
}

/* headline text */

h1,
h2 {
  font-weight: 700;
  padding-top: 8px;
}

h1 {
  font-size: 28px;
  color: #404040;
}

h2 {
  font-size: 20px;
  color: #456a27;
}

/* body text */

body {
  color: #1c1c1c;
  word-wrap: break-word;
  line-height: 1.7;
  font-size: 14px;
}

p {
  padding-top: 8px;
}

/* link text */

article a {
  color: #548235;
  text-decoration: none;
  transition: all 0.3s;
}

article a:hover {
  text-decoration: underline;
}

article a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  text-decoration: underline;
}

/* quotes */

blockquote:nth-child(odd) {
  padding-right: 30%;
}

blockquote:nth-child(even) {
  padding-left: 30%;
  text-align: right;
}

/* image scaling and positioning */

p img {
  /* position: center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* position: margin */
  margin-top: 8px;
  margin-bottom: 8px;
  /* scaling: */
  max-width: 70%;
  height: auto;
}

figure p {
  text-align: center;
}

figcaption {
  padding: 9px;
  text-align: center;
  font-style: italic;
}

/* code blocks */

pre {
  /* add scrollbar when page is narrow, to avoid fitting text size too small */
  overflow: scroll;
  max-width: 70vw;
  /* hide scrollbar when not needed */
  overflow-x: auto;
  overflow-y: auto;
}
